@model TimeTrackingSystem.Application.ViewModels.ListOfEmployeesViewModel

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a asp-action="AddEmployee">Create New</a>
</p>
<form asp-aciton="Index" asp-controller="Employees" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchBy" id="searchBy"/>
        <input type="submit" value="Wyszukaj"/>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Employee:
                </th>
                <th>
                    Email:
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>

                        @Html.ActionLink(item.Employee_FullName, "ViewEmployee", new { accountId = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditEmployee", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "RemoveEmployee", new { id = item.Id })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @{
                    var rounded = Math.Ceiling(Model.Count / (double)Model.PageSize);
                }
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo"/>
        <input type="hidden" name="pageSize" id="pageSize" value="5"/>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
