@model TimeTrackingSystem.Application.ViewModels.ListOfEmployeesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Create New</a>
</p>
<form asp-aciton="Index" asp-controller="Employees" method="post">

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Full name
                    </th>
                    <th>
                        Email
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Full_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditEmployee", new { id = item.Id }) |
                            @Html.ActionLink(item.Full_Name, "View", new { ApplicationUserId = item.Id }) |
                            @Html.ActionLink("Delete", "RemoveEmployee", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</form>

