@model TimeTrackingSystem.Application.ViewModels.TimeSheet.ListOfTimeSheetsViewModel

@{
    ViewData["Title"] = "TimeSheet";
}

<form asp-aciton="Index" asp-controller="TimeSheet" method="post">
    <div class="row">
        <table class="table table-striped table-hover table-light table-bordered">
            <thead class="bg-gradient-light">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Time from
                    </th>
                    <th>
                        Time to
                    </th>
                    <th>
                        Comments
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TimeSheets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m=>item.TimeSheet.Date.GetDateTimeFormats()[0])
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.TimeSheet.Time_from.TimeOfDay)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.TimeSheet.Time_to.TimeOfDay)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.TimeSheet.Comments)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditTimeSheet", new { id = item.TimeSheet.Id }) |
                            @Html.ActionLink("Details", "ViewTimeSheet", new { id = item.TimeSheet.Id }) |
                            @Html.ActionLink("Delete", "RemoveTimeSheet", new { id = item.TimeSheet.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</form>

