@model TimeTrackingSystem.Application.ViewModels.TimeSheet.ListOfTimeSheetsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddTimeSheet">Create New</a>
</p>
<form asp-aciton="Index" asp-controller="TimeSheet" method="post">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Account full name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time from
                </th>
                <th>
                    Time to
                </th>
                <th>
                    Comments
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TimeSheets)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.Employee.Employee_FullName, "ViewEmployee", "Employees", new { accountId = item.Employee.Id })
                        @*@Html.DisplayFor(modelItem => item.Employee.Employee_FullName)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeSheet.Date.GetDateTimeFormats()[0])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeSheet.Time_from.Date.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeSheet.Time_to.Date.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeSheet.Comments)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditTimeSheet", new { id = item.TimeSheet.Id }) |
                        @Html.ActionLink("Details", "ViewTimeSheet", new { id = item.TimeSheet.Id }) |
                        @Html.ActionLink("Delete", "RemoveTimeSheet", new { id = item.TimeSheet.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @{
                    var rounded = Math.Ceiling(Model.Count / (double)Model.PageSize);
                }
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="2" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}