@model TimeTrackingSystem.Application.ViewModels.Activity.ListOfActivitiesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Add", new { projectId = Model.Id})
</p>
<form asp-aciton="Index" asp-controller="Activity" method="post">
            <table class="table table-striped table-hover table-light table-bordered">
                <thead class="bg-gradient-light">
                    <tr>
                        <th>
                            Project name
                        </th>
                        <th>
                            Activity Id
                        </th>
                        <th>
                            Project Id
                        </th>
                        <th>
                            Activity code
                        </th>
                        <th>
                            Time from
                        </th>
                        <th>
                            Time to
                        </th>
                        <th>
                            Other details
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Activities)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Project.Name, "ViewProject", "Project", new { ProjectId = item.Project.Id })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.Start_date.GetDateTimeFormats()[0])
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.End_date.GetDateTimeFormats()[0])
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.Other_details)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Activity.Id }) |
                                @Html.ActionLink("Details", "View", new { id = item.Activity.Id }) |
                                @Html.ActionLink("Delete", "Remove", new { id = item.Activity.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    <div class="row">
        <table>
            <tr>
                @{
                    var rounded = Math.Ceiling(Model.Count / (double)Model.PageSize);
                }
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="2" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}