@model TimeTrackingSystem.Domain.Model.Leave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leave</h4>
    <hr />
    <dl class="row card">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leave_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leave_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other_details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other_details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
