@model IEnumerable<TimeTrackingSystem.Domain.Model.Leave>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leave_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other_details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Leave_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other_details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
